# Ignore node_modules directory
node_modules/

# Ignore compiled JavaScript files
dist/

# Ignore environment files
.env

# Ignore TypeScript build output directory
build/

# Ignore MongoDB data directory
/data/

# Ignore lock files
package-lock.json
yarn.lock

# Ignore editor specific files and folders
.vscode/
.idea/

# Ignore logs and error output
logs/
*.log

# Ignore npm debug log
npm-debug.log*

# Ignore IDE and editor specific files
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak
.DS_Store

# other directories
__sandbox/